/* Test file */

.site-name {
    display: none;
}
.btn.cart-count::before, a.btn.cart-count::before {
    content: '\e935';
}
.benefitBanner {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
